/* Hero Section CSS Start */
.hero-container {
  max-width: 1252px;
  margin: 50px auto;
}

.hero-nav {
  width: 100%;
  display: flex;
  align-items: center;
}

.hero-nav-logo {
  flex: 3;
  cursor: pointer;
}

.hero-logo {
  width: 102px;
  height: 32px;
}

.hero-nav-menu {
  flex: 6;
  display: flex;
  justify-content: space-between;
}

.hero-menu-items {
  display: flex;
  gap: 50px;
  font-size: 16px;
}

.hero-menu-item {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #495263;
  cursor: pointer;
}

.hero-menu-arrow {
  width: 12px;
  height: 6px;
}

.hero-menu-accnt {
  display: flex;
  gap: 25px;
  font-size: 17px;
}

.hero-log-in-btn {
  font-weight: bold;
  color: #28344a;
}

.hero-create-btn {
  font-weight: 300;
  color: #fff9f8;
  background-color: #864bd8;
  padding: 20px 30px;
  border-radius: 50px;
}

.hero-hamburger-menu {
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-self: center;
}

.hero-hamburger-icon-img {
  width: 100%;
}

.hero-mobil-menu {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 40px;
  left: 0;
  display: none;
  flex-direction: column;
}
.hero-mobil-menu-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}
.hero-mobil-menu-item {
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.hero-menu-arrow {
  width: 14px;
  height: 6px;
}
.hero-mobil-menu-accnt {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.hero-mobil-menu-accnt-item {
}
.hero-log-in-btn {
}
.hero-create-btn {
}

.hero-title-section {
}

.hero-title {
}

.hero-subtitle {
}

.hero-search {
}

.hero-search-items {
}

.hero-title-search {
}

.hero-location-search {
}

.hero-serach-select {
}

.hero-select-option-item {
}

.hero-search-btn {
}

.hero-trending-search {
}

.hero-trending-search-title {
}

.hero-trending-search-list {
}

.hero-trending-search-item {
}

@media screen and (max-width: 1024px) {
  .hero-container {
    margin: 50px 15px;
  }

  .hero-nav {
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }

  .hero-mobil-menu {
    display: none;
  }

  .hero-nav-menu {
    display: none;
  }

  .hero-hamburger-menu {
    display: flex;
  }
}

/* Hero Section CSS End */
